body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.5em;
}

#main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    margin: 0.5em;
    margin-left: 0;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(98, 181, 219);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #435e6b;
  }
  
  .button:hover {background-color:rgb(29, 134, 183)}
  
  .button:active {
    background-color: rgb(8, 61, 135, 1);
    box-shadow: 0 5px #435e6b;
    transform: translateY(4px);
  }
  
  .inputArea{
        margin-bottom: 1em;
  }
  
  
  .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
  }
  
  .slider:hover {
      opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
  }

  #inputArena {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1em;
      align-content: center;
      flex-wrap: wrap;
      min-height: 150px;
      min-width: 15em;
      width: 25%;
      border: 1px solid rgb(8, 61, 135);
  }

  p {
      background-color: white;
      padding: 1em;
      border: 1px solid rgb(8, 61, 135);
  }

  .inputArea p {
      color: gray;
      font-style: italic;
      margin-top: 8px;
      padding: initial;
      border: none;
  }