<html>

<head>
	<script src="https://unpkg.com/3d-force-graph@1.35.4/dist/3d-force-graph.min.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://unpkg.com/three"></script>
	<script src="https://unpkg.com/three-spritetext"></script>
	<link rel="stylesheet" href="/static/style.css">
	<script src="/static/config.js"></script>
	<script src="/static/3dForceGraph.js"></script>
</head>
<body>
	<script>
		// Receive csv data from the python app
		var dataMatrix = {{data | safe}}; // correlation
		var symptomRatings = {{symptomData | safe}}; // averages freq.csv
	</script>
	<h1>DSM Visualisation</h1>
	<p class="intro-text">Welcome to your personalised visualisation. The colour of the nodes represents the severity of the symptom that you answered in your quiz (ranging from lightest blue = 1 (not at all) to darkest blue = 4 (very much so)). 
		Clicking on the node will display other symptoms directly correlated with that node. The connecting lines represent correlation. Green = positive correlation, red = negative.
	</p>
	<section id='main'>
		<div id="inputArena">
			<h2>Visualisation Controls</h2>
			<div class="inputArea">
				<button onclick="reset()" id="reset" class="button">Reset</button>
				<p>Reset to default settings</p>
			</div>
			<div class="inputArea">
				<button onclick="alterLinks()" id="alterLinks" class="button">All</button>
				<p>Toggles correlation view: only positive, only negative, all</p>
			</div>
			<div class="inputArea">
				<label for="corrStrText">Correlation Threshold:</label>
				<input type="number" id="corrStrText" value="10">
				<p>Higher setting = remove weaker correlations</p>
			</div>
			<div class="inputArea">
				<button onclick="generate3DGraphButton(false)" id="regen" class="button">Regenerate</button>
				<p>Submit changes to correlation threshold</p>
			</div>
			<div class="inputArea">
				<button onclick="generate3DGraphButton(true)" id="wordGen" class="button">Word Representation</button>
				<p>Shows spheres as questions (beta-test)</p>
			</div>
			<!-- 
			<div class="inputArea">
				<button onclick="switchFreqMode()" id="freqSwitch" class="button">Arithmetic Average</button>
				<p>Toggle average calculation method</p>
			</div> -->
		</div>
		<div id="3d-graph"></div>
	</section>
	<script>
		document.getElementById("corrStrText").value = linkThreshold;
		create3DGraph(dataMatrix, symptomRatings);
	</script>
</body>
</html>